/* Add here all your CSS customizations */
@font-face {
    font-family: 'supermarket';
    src: url('../fonts/supermarket.woff2') format('woff2'),
        url('../fonts/supermarket.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212529;
    font-weight: 200;
    letter-spacing: 0.01em;
}

body {
    font-size: 18px !important;
    font-family: 'supermarket';
   
}


a {
    text-decoration: none;
}

a:hover,
a:focus {}


html .scroll-to-top{
    transition: opacity 0.3s;
    background: #fecd22;
    border-radius: 4px 4px ;
    bottom: 10px;
    color:#000;
    display: block;
    height: 10px;
    opacity: 0;
    padding: 10px 10px 35px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
    z-index: 1040;
    font-size: 0.8em;
}

.text-warning {
    color: #FFA74A;
}

.text-main a {
    color: #000 !important;

}

.menu-main ul li a {
    position: relative;
}

.menu-main ul li a .icon-m {
    position: relative;
    z-index: 1;
}

.menu-main ul li a .icon-w {
    position: absolute;
    z-index: 0;
}

.language-change .dropdown-menu {
    min-width: auto !important;
}

.language-change .dropdown-menu .dropdown-item {
    padding: 0.8rem 1rem;
}

.search-btn a {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    margin: 0 5px;
}

.search-btn a i {
    font-size: 1rem !important;
}

.language-change a.main-flag {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    margin: 0 5px;
}

.btn-login {
    font-size: 18px;
    font-weight: 600;
    background: #FECD22;
    color: #263238;
    padding: 8px 18px;
    border-radius: 6px;
    transition: all .25s ease;
}

.btn-login:hover,
.btn-login:focus {
    background: #FEBD11;
    color: #263238;
    text-decoration: none !important;
}

#header .header-nav.header-nav-stripe nav>ul>li:hover>a .icon-m,
#header .header-nav.header-nav-stripe nav>ul>li.open>a .icon-m {
    opacity: 0;
}

.menu-elearning .featured-box .icon-featured {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: 0 auto;
}

.menu-elearning .icon-featured img {
    width: auto !important;
    max-width: 100%;
    margin: 20px auto !important;
}

.featured-box-one .icon-featured {
    background: #037B7C;
}

.featured-box-one h4 {
    color: #037B7C;
}

.featured-box-two .icon-featured {
    background: #3188BE;
}

.featured-box-two h4 {
    color: #3188BE;
}

.featured-box-three .icon-featured {
    background: #683AA7;
}

.featured-box-three h4 {
    color: #683AA7;
}

.featured-box-four .icon-featured {
    background: #FF6E00;
}

.featured-box-four h4 {
    color: #FF6E00;
}

.featured-box-five .icon-featured {
    background: #DAB212;
}

.featured-box-five h4 {
    color: #DAB212;
}

.banner-index {
    position: relative;
    z-index: 1;
}

.banner-index .owl-carousel {
    margin: 0;
    padding: 0;
}

.menu-index {
    background: #FAFAFA;
    margin-top: -12px;
    z-index: 2;
    position: relative;
    padding: 1rem 0;
}

.course-index {
    padding: 1.5rem 0 6rem;
    position: relative;
}

.bg-course img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.course-index .owl-carousel .owl-nav {
    margin-top: -60px;
}

.course-index .owl-carousel .owl-nav .owl-next,
.course-index .owl-carousel .owl-nav .owl-prev {
    color: #333333 !important;
    width: 40px !important;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.course-index .owl-carousel .owl-nav .owl-prev {
    left: -90px !important;
}

.title-panel {
    padding-bottom: 15px;
    border-bottom: 3px solid #EEEEEE;
}

.title-panel span {
    border-bottom: 3px solid #FECD22;
}

.title-panel-white {
    padding-bottom: 15px;
    border-bottom: 3px solid #EEEEEE;
    color: #fff;
}

.card-course {
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
}


.card-course .card-body {
    padding: 10px !important;
}

.activity-index {
    background: url('../img/1-main/main-bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
}

.btn-viewall {
    text-align: right;
    color: #263238;
}

.btn-viewall .post .blog-detail {
    line-height: 1;
}

.read-more {
    color: #ff8300;
}

.read-more:hover,
.read-more:focus {
    color: #ff8300;
    text-decoration: underline;
}

.bg-main {
    background: #FFD400;
}

html .text-color-light, html .text-light {
    color: #232162 !important;
}

.page-header {
    background-color: #ffffff;
    padding: 40px 10px;
}

.page-header .breadcrumb li {
    color: #999999;
    font-size: 0.9em;
    letter-spacing: 0.8px;
    text-transform: none;
}

.page-header .breadcrumb li a {
    color: #999999;
}

.header-logo img {
    transform: translate(0px, 23px) !important;
    box-shadow: 0 4px 5px rgb(0 0 0 / 15%);
}

.content {
    min-height: calc(100vh - 280px);
    padding: 40px 2rem 2rem;
}

@media (min-width: 768px) {
    .content {
        padding: 40px 2rem 7rem;
    }
}

@media (min-width: 992px) {
    .content {
        padding: 40px 2rem 17rem;
    }
}

.sidebar {
    /* background-color: #FFFF; */
    padding: 40px 20px;
    
}


.sidebar p, .sidebar li a.active {
    color: #2B4279;
}

.sidebar p a, .sidebar li a {
    color: #000000;
    text-decoration: none !important;
}

.sidebar hr {
    border-top: 1px solid #000000;
}

.sort-source > li > a {
    padding: 0 !important;
}

.nav-list {
    list-style: none;
}

.card-profile {
    padding: 30px 20px;
    z-index: 10;
    margin-bottom: 5rem;
}

.card-profile p {
    color: #333333;
}

.card-profile p span{
    color: #2B4279;
}

.card-profile p:last-child {
    margin-bottom: 0;
}

.bg-page img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bg-footer {
    position: relative;
}

.bg-footer img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.thumb-deves {
    left: 5%;
    top: 0;
    position: absolute;
    z-index: 2;
    width: 55px;
    height: 57px;
    background-image: url(../img/1-main/thumb-deves.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}

.img-thumbnail{
    width: 100%;
}

.table-document {
    min-width: 500px;
    text-align: center;
}

.table-document tr td:nth-child(1) {
    width: 100px;
}

.table-document tr td:nth-child(2) {
    text-align: left;
}

.table-document tr td:nth-child(3),
.table-document tr td:nth-child(4) {
    width: 150px;
}

.table-document thead {
    border-top: 1px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
}

.table-document td, .table-document th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: middle;
}

.topic{
    color: #2B4279;
}

.topic:before {
    color: inherit;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: "\f105\f105";
    padding-top: 20px;
}

.btn-download {
    font-size: 18px;
    background: #FECD22;
    color: #2B4279;
    padding: 4px 14px;
    border-radius: 6px;
}

.section-allcourse{
    padding: 3rem 5rem 10rem 5rem;
    min-height: calc(100vh - 100px);
    margin-left: auto;
    margin-right: auto;
}

.bg-filter{
    background: #FECD22;
    padding: 15px 10px;
}

.course-menu,.course-content{
    padding: 3rem 1.5rem;
}

.course-content .tabs.tabs-simple .nav-tabs > li .nav-link,.course-content .tabs.tabs-simple .nav-tabs > li .nav-link:hover,.course-content .tabs.tabs-simple .nav-tabs > li .nav-link:focus{
    padding: 15px 30px 10px;
    font-size: 22px;
}

.course-content .nav-tabs .nav-link.active:focus,.course-content .nav-tabs .nav-link.active,.course-content .nav-tabs > li .nav-link:hover,.course-content .nav-tabs > li .nav-link.active:hover{
    border-bottom-color: #FECD22 !important;
    color: #333!important;
}

.section-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-list li{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}
.section-list li a{
    color: #333;
    display: block;
}

.section-list li:hover{
    background: #f3f3f3;
}
.section-title{
    border-bottom: 1px solid #333;
}

.staus-learn{
    height: auto;
    margin: 0 15px 0 0;
    padding: 0;
}
.section-main{
    height: calc(100vh - 220px);
}

.timer {
    padding: 25px 0;
    margin: 0 auto;
    display: block;
    width: 250px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-align: center;
}

.timer span {
    color: #EC5E5E;
}

.exam-nav .nav-item {
    background-color: #ffffff;
    color: #353E43;
    border: 1px solid #dddddd;
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
    cursor: pointer;
}


.exam-nav .nav-active {
    background-color: #ffffff;
    color: #FFD400;
    border: 1px solid #FFD400;
}

.exam-nav .nav-check {
    background-color: #FFD400;
    color: #ffffff;
    border: 1px solid #FFD400;
}

.exam-nav {
    text-align: center;
    vertical-align: middle;
}

.exam {
    display: none;
}

.choice-item {
    background-color: #ffffff;
    color: #353E43;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
}

.choice-check {
    background-color: #FFD400;
    color: #353E43;
    border: none;
    cursor: default;
}

.choice-num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dddddd;
    color: #353E43;
}

.btn-main{
    background:#FECD22 !important ;
    color: #1A1444 !important;
}

.login-section{
    padding:2rem;
}


.toggle-default .toggle.toggle-minimal .toggle>label,
.toggle-default .toggle.toggle-minimal .toggle>.toggle-title {
    background: transparent;
    color: #333333;
    border-left: 0;
    border-bottom: 1px solid #CCCC !important;
    border-radius: 0;
    margin: 0;
    padding: 12px 20px 12px 0;
    font-weight: 600;
}

.toggle-default .toggle>.toggle-title {
    border: 1px solid #DDDDDD !important;
}

.toggle-default .toggle>.toggle-title {
    color: #33313B !important;
    font-weight: normal !important;
    font-size: 17px !important;
    padding: 20px 45px !important;
    background-color: white !important;
}

.toggle-default .toggle>.toggle-content {
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid #DDDDDD !important;
    background-color: white !important;
}

.numberCircle {
   border-radius: 50%;
   width: 50px;
   height: 50px;
   padding: 2px 10px;
   margin-right: 20px;

   background: #FFD400;
   border: 2px solid #FFD400;
   color: #666;
   text-align: center;

   font: 32px Arial, sans-serif;
}

/* แก้ Footer เคลื่อน สำหรับหน้า FAQ */
.faq-footer, ::after, ::before {
   box-sizing: content-box !important;
}

/* Navbar */
#header.header-effect-shrink .header-container {
    height: 65px !important;
    min-height: 50px !important;
    box-shadow: 0px -2px 10px rgb(0 0 0);
}

.language-change a.main-flag {
    border: 1px solid #DDDDDD;
    box-sizing: border-box; 
    border-radius: 50px !important;
    padding: 10px;
    margin: 0 5px;
}

.search-btn a {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 100% !important;
    padding: 15px;
    margin: 0 5px;
}

.btn-login-navbar{
    background: #FECD22;
    color: #33313B;
    padding: 16.7px;
}

.icon-featured-box{
    display: inline-block;
    font-size: 0;
    margin: 15px;

    text-align: center;
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 0.5em;
    line-height: 110px;
}

.icon-featured {
    display: inline-block;
    font-size: 0;
    margin: 15px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 2.3em;
    line-height: 110px;
}

/* Hover Navbar */
#header .header-nav.header-nav-stripe nav > ul > li:hover > a, #header .header-nav.header-nav-stripe nav > ul > li.open > a{
    background: #FFD400 !important;
    color: #33313B;
    height: 66px;
}

.course-content .nav-tabs .nav-link.active:focus,.course-content .nav-tabs .nav-link.active,.course-content .nav-tabs > li .nav-link:hover,.course-content .nav-tabs > li .nav-link.active:hover{
    border-bottom-color: #FECD22 !important;
    color: #333!important;
}

/* Button Menu Item */
.owl-carousel .owl-item img {
    display: block;
    width: auto !important;
}

.bg-box{
    background-color: #9AE5EA;
    width: auto; 
    height: 110px;
    max-width: 100%;
    text-align: center;
    border-radius: 10px;
}

.bg-box:hover{
    background-color: #78E1E1;
}

.bg-box img{
    background-size: cover;
    margin-top: 19px;
    /* display: flex; */
    justify-content: center;
    align-items: center;

    max-width: 100%;
    height: auto!important;
}

/* Card หลักสูตร หน้า Home */
.card-course .logo-card{
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    background-size: cover;
}

/* Button หน้า Home */
.btn-outline-course {
    color: #006675 !important;
    border-color: #006675 !important;
    border-radius: 50px !important;
    padding: 3px 20px !important;
}

.btn-outline-course:hover {
    color: #ffffff !important;
    background-color: #006675 ;
    border-color: #006675 !important;
}

/* ส่วน bg ต่อกับ Footer ในหน้า Home */
.activity-index {
    background: url('') !important;
    background-color: #F4F5F5 !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
}

.img-bg{
    background: url('../img/1-main/img-bg.png');
    background-size: cover;
}

/* ส่วน Banner */

.banner-home{
    position: relative;
}

/* .mascot{
    max-width: 100%;
    height: auto!important;
    background-size: cover;
} */


.help_mascot{
    position: fixed;
    right: 120px;
    bottom: 0;
    margin: 0;
    z-index: 10000;
    color: #fff;
    cursor: pointer;
    height: 80px;
    width: 190px;
    transition: all 0.3s ease 0s;
}

.help_mascot:hover{
    height: 330px;
}

@media (max-width: 850px) {
    .help_mascot{
        position: fixed;
        right: 120px;
        bottom: 0;
        margin: 0;
        z-index: 10000;
        color: #fff;
        cursor: pointer;
        height: 80px;
        width: 190px;
        transition: all 0.3s ease 0s;
    }

    .img_mascot {
        width: 100px;
    }
}

.card_help{
    z-index: 9999 !important; 
    top:0 !important; 

}

.banner-home .card-header{
    background-color: #F7C011;
}

.sitebar-category{
    background-color: #FFFF;
    padding: 0 20px;
}


/* ส่วน Modal Help */
.btn-close {
    opacity: 1 !important;
    color: #F7C011 !important; 
    background: transparent url("../img/1-main/icon-close.svg") center/1em auto no-repeat !important; 
    
}

.modal-header .btn-close {
    background-color: #191445;
    border-radius: 100%;
    font-size: 30px;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #232162;
}

.border-input input{
    border-radius: 8px;
}

.border-input label{
    margin-top: 10px;
}

.border-input select {
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    appearance: auto;
}

.border-input .form-group {
    margin-bottom: 16px;
    margin-bottom: .1em;
}

.modal-footer {
    display:table !important;
    text-align: center;
}

.modal-footer .btn-modal-footer{
    color: #000  !important;
    background-color: #FFD400 !important;
    border-radius: 0% !important;
    border: 1px solid #FFD400 !important;
    padding-left: 30px;
    padding-right: 30px;
}

/* เฉพาะส่วนของ Input Upload ใน Modal Help */
    .custom-file-input {
        z-index: 2;
        margin: 0;
        opacity: 0;
    }
    .custom-file, .custom-file-input {
        position: relative;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
    }

    .custom-file-label, .custom-file-label:after {
        position: absolute;
        top: 0;
        right: 0;
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
    } 

    .custom-file-label {
        left: 0;
        z-index: 1;
        height: calc(1.5em + .75rem + 2px);
        font-weight: 400;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }

    .custom-file-input:lang(en)~.custom-file-label:after {
        content: "Browse";
    }

    .custom-file-label:after {
        background-color: #fafbfe;
        color: #535f6b;
    }
    .custom-file-label:after {
        bottom: 0;
        z-index: 3;
        display: block;
        /* height: calc(1.5em + .75rem); */
        content: "Browse";
        background-color: #e9ecef;
        border-left: inherit;
        border-radius: 0 5px 5px 0;
    }
    .custom-file-label, .custom-file-label:after {
        position: absolute;
        top: 0;
        right: 0;
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
    }

/* Text */
.text-color-h3 h3{
    color: #1A1444;
}

/* Footer */
.margin-footer-home{
    margin-top: 350px;
}

@media (max-width: 850px) {
    .margin-footer-home{
        margin-top: 200px;
    }

}


/* ส่วน Profile */

.img-upload-profile{
    width: 150px ; 
    height: 150px ; 
    background-size: cover ;
    position:absolute;
    right: 48px;
    background: #FBFBFB;
    border: 2px dashed #BCBCBC;
    top: 60px;
}

@media (max-width: 850px) {
    .img-upload-profile{
        position:relative;
        margin-left: auto;
        margin-right: auto;
        right: 0;   
        top: 0;
    }

}

.size-input{
    width: 150px ; 
    height: 150px ; 
    opacity: 0;
    z-index: 9999;
}

.pic-img-upload{
    position:absolute;
    width: 145px ; 
    height: 145px ; 
    top: 0;
    left: 0;
}

.card-right-contact .card-body {
    padding: 0 !important;
    padding-left: 50px !important;
    flex: 0 !important;
}


.textleft{
    text-align:left;
}
.text-font-allcourse{
    font-size: 22px;
    
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
    padding: 20px;
}
.box-plan-status-notyet{
    box-sizing: border-box;
    width: 200px;
    height: 33.5px;    
    background: #3A8DDD;
    border-radius: 6.70054px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    color: #FFFF;
    float: left;
    margin-right: 9px;
}
.box-plan-status-doing{
    box-sizing: border-box;
    width: 200px;
    height: 33.5px;    
    background: #FFD400;
    border-radius: 6.70054px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    color:black;
    float: left;
    margin-right: 9px;
   
}

.box-plan-status-finish{
    box-sizing: border-box;
    width: 200px;
    height: 33.5px;    
    background: #56b765;
    border-radius: 6.70054px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    color: #FFFF;
    float: left;
    margin-right: 9px;
   
}

.box-plan-status-timeout{
    box-sizing: border-box;
    width: 200px;
    height: 33.5px;    
    background: #E64D3B;
    border-radius: 6.70054px;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    color: #FFFF;
    float: left;
    
   
}

.btn-submit-profile{
    width:200px; 
    height:80; 
    border-radius:4px;
    background-color: #fed108;
}

 .form-size .form-control {
    height: 40px;
    font-size: 18px;
  }
.border-input select {
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    appearance: auto;
}



.page-header-plan {
    background-color: #ffffff;
    padding: 0px 10px;
}

.questionnaire-title{
    background-color: #fbfbfb;
}

.slide p{
    color: #777;
    line-height: 26px;
    margin: 0 0 10px;
}



/* .btn-blue {
    font-size: 0.8em !important;
    background: #FECD22 !important;
    color: #1A1444 !important;
    padding: 7px 14px !important;
    border-radius: 6px !important;
} */









    


