@media (min-width: 992px) {
    #header .header-nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: start;
        align-self: stretch;
    }

    #header .header-nav-main nav>ul>li>a {
        color: #33313B;
        font-size: 18px;
        font-weight: 600;
       
    }
    #header .header-nav.header-nav-stripe nav > ul > li:hover > a, #header .header-nav.header-nav-stripe nav > ul > li.open > a{
        background: #FECD22;
        color: #33313B;
    }
    #header .header-nav.header-nav-stripe nav > ul > li > a {
        background: transparent;
        padding: 0 1.6rem;
        margin: 0 0 0;
        height: 100%;
    }
    .login-section{
        padding: 5rem;
    }
}

@media only screen and (max-width: 991px){
    .header-logo img {
        transform: translate(0px, 0px) !important;
        box-shadow: none;
        height:100px
    }
    #header .header-column .header-row{
        justify-content: space-between;
    }
    .header-nav{
        order: 3;
    }
    .menu-main ul li a [class*="icon"]{
        display: none;
    }
}